@import "./../../../static/util";
.list{
    padding: 50px 0 0 0;
    background: $mainBackColor;
    .item{
        background: #FFF;
        margin-bottom: 10px;
        .item-head{
            padding: 15px 15px;
            .status{
                color: #999;
            }
        }
        .item-main-inf{
            align-items: center;
            border:{
                top:1px solid $borderColor;
                bottom: 1px solid $borderColor;
            };
            padding: 10px 15px;
            .item-img{
                width: 100px;
                height: 100px;
                margin-right: 10px;
            }

        }
        .item-inf{
            padding: 10px 15px;
            text-align: right;
        }
        .item-btns{
            padding: 10px 15px;
            border: {
                top:1px solid $borderColor;
            };
            span{
                @include floatRight;
                padding: 4px 6px;
                border: 1px solid $borderColor;
                border-radius: 4px;
            }
        }
    }
}