@import './../../static/util';
.member{
    .avatar-head{
        text-align: center;
        background: #FFF;
        padding:{
            top:44px;
            bottom:10px;
        }
        .avatar-img{
            width: 60px;
            height: 60px;
            padding:15px 0;
            border-radius: 100%;
        }
        .avatart-name{
            color: #FFF;
            display: inline-block;
            padding: 4px 10px;
            border-radius: 8px;
            background: $main-color;
        }
    }
    .order{
        margin: 0 15px;
        padding: 0 15px;
        line-height: 40px;
        background: #FFF;
        // border: 1px solid #dedede;
        border-radius: 4px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
       .more{
            position: relative;
            color: $second-font-color;
            padding-right: 10px;
            @include more;
            &:after{
                right: 0;
            }
       }
       .item{
            text-align: center;
            .icon{
                line-height: 30px;
                position: relative;
                .order-nums{
                    display: inline-block;
                    position: absolute;
                    top: 1px;
                    right: -24px;
                    left: 0;
                    margin: auto;
                    border: 1px solid $main-color;
                    background: #FFF;
                    border-radius: 100%;
                    font-size:0.26rem;
                    width: 13px;
                    height: 13px;
                    color:$main-color;
                    line-height: 13px;
                    font-family: '宋体';
                }
                &::before{
                    font-size:24px;
                }
            }
        } 
    }
    .logout{
        text-align: center;
        margin: 20px 15px 0 15px;
        line-height: 40px;
        height: 40px;
        font-size: 15px;
        color: #999999;
        background: #F0F2F2;
    }
}