@import "./../../static/util";
.footerEle{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f7f7fa;
    text-align: center;
    z-index: 999;
    a{
        color: #000;
        .label{
            color: #555555;
        }
        .active{
            color: #fb1840;
        }
    }
    .label-img{
        width: 25px;
        height: 27px;
    }
    .active{
        .label{
            color: #fb1840;
        }
    }
}
